nav {
  padding: 15px;
  z-index: 99;
}

.nav-div {
    height: 80px;
}

.navbar-brand {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.App-logo {
  margin-right: 3%;
  padding: 7px;
  border: 2px solid var(--sun-yellow);
  border-radius: 50%;
}

.nav-link {
  color: var(--sun-yellow);
}

.nav-link:hover {
  color: goldenrod
}

.favorite-btn {
  border: none !important;
  box-shadow: none !important;
  width: 6px !important;
}

.clear {
  font-size: 15px !important;
  height: 48px;
  width: 140px !important;
}