nav {
  padding: 15px;
  /* box-shadow: 5px 5px 8px rgb(211, 211, 211); */
  box-shadow: 5px 5px 8px lightblue;
  /* height: 30px; */
}

.nav-div {
    height: 80px;
}

.navbar-brand {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

img {
  margin-right: 3%;
}