nav {
  padding: 15px;
  box-shadow: 5px 5px 8px lightblue;
  z-index: 99;
}

.nav-div {
    height: 80px;
}

.navbar-brand {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

img {
  margin-right: 3%;
  padding: 7px;
  border: 2px solid var(--sun-yellow);
  border-radius: 50%;
}

.nav-link {
  color: var(--sun-yellow);
}

.nav-link:hover {
  color: goldenrod
}