:root {
    --sun-yellow: #ffc05f;
}

.weather-splash {
    height: 500px;
}

.weather-at-a-glance {
    height: 450px;
    border-radius: 10px;
    /* margin-right: -40px; */
}

.app-logo {
    border-radius: 0;
    object-fit: fill;
    border-color: transparent !important;
}

.weather-box {
    height: 400px;
    background: linear-gradient(90deg, rgba(173, 216, 230, 0.274) 70%, white, rgba(161, 183, 190, 0.247));
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.weather-img {
    object-fit: fill;
    margin: 0 auto;
    width: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.83);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.83);
    }
  }

.summary-box {
    height: 350px;
    padding: 0px 25px 20px;
    box-shadow: 0px 0px 8px rgb(158, 157, 157);
    border-radius: 10px;
}

div > ul {
    list-style: none;
    text-align: center;
}

div > ul > li {
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    padding-top: 20px;
}

.temp {
    font-size: 70px;
}

.btn {
    margin: 3px;
    border: 2px solid var(--sun-yellow);
    color: black;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 1px 0px 3px gray;
}

.btn:hover {
    background-color: #ffdca8;
    cursor: pointer;
    border-color: var(--sun-yellow);
    
}

.btn:active {
    background-color: var(--sun-yellow);
    color: white;
    border-color: var(--sun-yellow) !important;
}